In [1]:
#import libraries
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
#import csv of goals scored and conceeded 
#https://www.whoscored.com/Regions/252/Tournaments/2/Seasons/8228/Stages/18685/TeamStatistics/England-Premier-League-2020-2021

scoreddf = pd.read_csv('goalsscored.csv')
concdf = pd.read_csv('goalsconceeded.csv')

In [3]:
#ranking teams in order of situational statistics
scoreddf['Openplay_rank'] =  scoreddf['Open Play'].rank(method='min', ascending = False)
scoreddf['Counter_rank'] =  scoreddf['Counter Attack'].rank(method='min', ascending = False)
scoreddf['Setpiece_rank'] =  scoreddf['Set Piece'].rank(method='min', ascending = False)
scoreddf['Penalty_rank'] =  scoreddf['Penalty'].rank(method='min', ascending = False)

concdf['Openplay_rank'] =  concdf['Open Play'].rank(method='min')
concdf['Counter_rank'] =  concdf['Counter Attack'].rank(method='min')
concdf['Setpiece_rank'] =  concdf['Set Piece'].rank(method='min')
concdf['Penalty_rank'] =  concdf['Penalty'].rank(method='min')

In [4]:
#set index of dataframe to the team name

scoreddf = scoreddf.set_index('Team')
concdf = concdf.set_index('Team')

In [5]:
#drop non-useful column 

scoreddf = scoreddf.drop(['R'], axis = 1)
concdf = concdf.drop(['R'], axis = 1)

In [6]:
#function to compare two selected teams
#if one is particularly stronger than another in a statistic (e.g. set piece goals 
#   conceeded), it will print out

def mismatch(team1, team2): 
    #check advantages for team 1
    stats1, stats2 = scoreddf.loc[team1][5:], concdf.loc[team2][5:]
    print(f'{team1} better at: ', end=' ')
    for x in range(len(stats1)):
        if (stats1[x] - stats2[x]) <= -10: #difference in rank is at least 10
            print(concdf.loc[team1][5:].index[x], end=' ')

    #check advantages for team 2
    stats1, stats2 = scoreddf.loc[team2][5:], concdf.loc[team1][5:]
    print(f'\n{team2} better at: ', end=' ')
    for x in range(len(stats1)): 
        if (stats1[x] - stats2[x]) <= -10: #difference in rank is at least 10
            print(concdf.loc[team1][5:].index[x], end=' ')

In [7]:
#relevant fixtures to compare

fixtures = ['Crystal Palace', 'Leicester', 
            'Chelsea', 'Aston Villa', 
            'Everton', 'Manchester City', 
            'Brighton', 'Arsenal', 
            'Burnley', 'Sheffield United', 
            'Southampton', 'West Ham', 
            'West Bromwich Albion', 'Leeds', 
            'Manchester United', 'Wolverhampton Wanderers', 
            'Tottenham', 'Fulham', 
            'Newcastle United', 'Liverpool', ]

In [8]:
#go through each fixture and compare the teams

counter = 0
while counter <= 19: 
    team1, team2 = fixtures[counter], fixtures[counter+1]
    #print(team1, team2)
    mismatch(team1, team2)
    print('\n')
    counter +=2

Crystal Palace better at:  Setpiece_rank
Leicester better at:  Openplay_rank Penalty_rank

Chelsea better at:  Setpiece_rank
Aston Villa better at:

Everton better at:
Manchester City better at:

Brighton better at:
Arsenal better at:  Penalty_rank

Burnley better at:
Sheffield United better at:

Southampton better at:
West Ham better at:

West Bromwich Albion better at:  Setpiece_rank
Leeds better at:  Openplay_rank

Manchester United better at:
Wolverhampton Wanderers better at:

Tottenham better at:  Openplay_rank
Fulham better at:

Newcastle United better at:
Liverpool better at:  Openplay_rank Counter_rank

In [9]:
concdf

                         Open Play  Counter Attack  ...  Setpiece_rank  Penalty_rank
Team                                                ...
West Bromwich Albion            20               1  ...            5.0          14.0
Sheffield United                18               1  ...           18.0           1.0
Crystal Palace                  17               5  ...            5.0          11.0
West Ham                        16               1  ...            2.0           6.0
Fulham                          15               0  ...            5.0          18.0
Newcastle United                14               4  ...            5.0           4.0
Arsenal                         13               2  ...            1.0           1.0
Leeds                           13               2  ...           20.0          18.0
Liverpool                       13               0  ...           12.0           6.0
Everton                         13               2  ...            2.0           6.0
Burnley                         13               0  ...            5.0          11.0
Southampton                     12               2  ...            5.0           6.0
Manchester United               11               0  ...           14.0          14.0
Brighton                        11               1  ...           14.0          18.0
Chelsea                          9               1  ...           12.0           6.0
Aston Villa                      9               0  ...           11.0           1.0
Leicester                        8               2  ...           18.0           4.0
Wolverhampton Wanderers          8               1  ...           14.0          11.0
Manchester City                  4               1  ...            2.0          14.0
Tottenham                        3               0  ...           14.0          14.0

[20 rows x 9 columns]

In [10]:
scoreddf

                         Open Play  Counter Attack  ...  Setpiece_rank  Penalty_rank
Team                                                ...
Liverpool                       21               3  ...            6.0           2.0
Tottenham                       18               3  ...           12.0          10.0
Leicester                       17               0  ...           20.0           1.0
Chelsea                         16               2  ...            1.0           6.0
Leeds                           16               2  ...            8.0           6.0
Manchester United               16               5  ...            8.0           3.0
Manchester City                 16               0  ...           12.0          10.0
Southampton                     15               0  ...            1.0          10.0
Everton                         15               0  ...            1.0          10.0
Aston Villa                     12               4  ...            5.0           6.0
West Ham                        12               1  ...            1.0          18.0
Brighton                        11               0  ...           17.0           3.0
Crystal Palace                  10               1  ...            8.0          10.0
Arsenal                          9               0  ...           12.0           6.0
Newcastle United                 9               1  ...           17.0           3.0
Fulham                           8               1  ...           19.0          10.0
Wolverhampton Wanderers          7               2  ...            7.0          17.0
West Bromwich Albion             5               1  ...            8.0          18.0
Burnley                          4               0  ...           12.0          18.0
Sheffield United                 3               0  ...           12.0          10.0

[20 rows x 9 columns]